<footer id="colophon" class="site-footer" role="contentinfo">
        <div class="container">
            <div class="site-info">
                <p><script src="http://s11.cnzz.com/stat.php?id=1255073358&web_id=1255073358" language="JavaScript"></script></p>
            </div>
            <!-- .site-info -->
            <div class="theme-info">
                <span class="theme-info-text">Powered By <a href="http://hexo.io/" title="Hexo" target="_blank">Hexo</a> Yikes Theme by <a href="http://github.com/GloomyNAN/yikes/" target="_blank">GloomyNAN</a></span>
            </div>
        </div>
</footer> <!-- #colophon -->
<!-- 配置导航置顶 -->
<%- config.statistical_code %>
<script type="text/javascript">
/* <![CDATA[ */
var boston = {"header_fixed":"1","slider":{"autoplay":1,"delay":5000,"speed":200}};
/* ]]> */
</script>