<!DOCTYPE html>
<html xml:lang="zh-Hans" lang="zh-Hans"></html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="generator" content="GloomyNAN" />
<meta name="renderer" content="webkit">
<title><%- config.title %>-<%- config.subtitle %></title>
<%- css(['css/style','css/genericons/genericons']) %>
<%- js(['js/jquery-2.2.4.min','js/theme']) %>
</head>
