<div class="site-topbar">
        <div class="container" style="background: #fff;">
            <nav id="site-navigation" class="main-navigation" role="navigation">
                <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">菜单</button>
                <div id="primary-menu" class="menu">
                    <ul>
                        <li><a href="http://www.gloomynan.com" title="">首页</a></li>
                        <li><a href="http://www.gloomynan.com/category-2.html" title="我的一丢丢感慨">一点感慨</a></li>
                        <li><a href="http://www.gloomynan.com/category-9.html" title="">Git</a></li>
                        <li><a href="http://www.gloomynan.com/category-4.html" title="">运维</a></li>
                        <li><a href="http://www.gloomynan.com/2.html" title="欢迎留言">留言本</a></li>
                        <li><a href="https://weibo.com/u/3018651713" target="_blank" title="我的微博">我的微博</a></li>
                        <li><a href="https://github.com/GloomyNAN" target="_blank" title="GitHub">GitHub</a></li>
                        <li><a href="http://www.baobaokaola.com/" target="_blank" title="抱抱考拉早教俱乐部">抱抱考拉早教俱乐部</a></li>
                    </ul>
                </div>
            </nav>
            <!-- #site-navigation -->
            <div class="topbar-search">
                <form name="search" method="post" action="http://www.gloomynan.com/zb_system/cmd.php?act=search">
                    <span class="genericon genericon-search"></span>
                    <input type="text" name="q" id="search" value="" placeholder="敲回车进行搜索..." />
                </form>
            </div>
        </div>
    </div>